*{
    margin: 0;
    padding: 0;
}

#wrap{     
    position: relative;
    width: 100%;
    margin: 0 auto;
}
section{
    margin-top: 100px;
    display: flex;
    justify-content: center;

}

.product-containser{
    display: flex;
    width: 80%;
    margin: 0 auto;
}

.product-item{
    flex-flow: column;
    display: flex;
    width: 60%;
}

.product-item img{
    margin: 0 auto;
    width: 70%;
    object-fit: cover;
}

.product-item ul{
    display: flex;
    margin: 15px auto;
    align-items: center;
    list-style: none;
}

.product-item li button{
    border: none;
}

.product-item li button:hover{
    border: 1px solid #000000;
}

.product-item li button:first-child{
    width: 50px;
    height: 50px;
    background-image: url(/image/grid-item-1-2.jpg);
    background-size: cover;
    margin: 0 5px 0 5px;
}

.product-info{
    display: flex;
    width: 40%;
    border-left: 1px solid silver;
    flex-direction: column;
    padding: 100px 20px 0 20px;
}

.product-info h2{
    font-size: 30px;
    padding: 10px;
    margin-bottom: 130px;
}

.product-info h4{
    font-weight: bold;
    padding: 0px 10px 0px 10px;
}

.size-box{
    padding: 10px;
}

.size-box button{
    font-weight: bold;
    background-color: #ffffff;
    border: 1px solid #000000;
    width: 100px;
    height: 30px;
}

.price-box{
    padding: 10px;
}

.get-item{
    padding: 10px;
}

.get-item button{
    font-weight: bold;
    border: 1px solid #000000;
    background-color: #ffffff;
    width: 49%;
    height: 40px;
}
