#wrap{     
    position: relative;
    width: 100%;
    margin: 0 auto;
}
section{
    margin-top: 100px;

}

.product-containser{
    display: flex;
    width: 80%;
    margin: 0 auto;
}

.product-item{
    flex-flow: column;
    display: flex;
    width: 60%;
}

.product-item img{
    margin: 0 auto;
    width: 70%;
    object-fit: cover;
}

.product-item ul{
    display: flex;
    margin: 15px auto;
    align-items: center;
    list-style: none;
}

.product-item li button{
    border: none;
}

.product-item li button:hover{
    border: 1px solid #000000;
}

.product-item li button:first-child{
    width: 50px;
    height: 50px;
    background-image: url(/image/grid-item-1-2.jpg);
    background-size: cover;
    margin: 0 5px 0 5px;
}

.product-info{
    display: flex;
    width: 40%;
    border-left: 1px solid silver;
    flex-direction: column;
    padding: 100px 20px 0 20px;
}

.product-info h2{
    font-size: 30px;
    padding: 10px;
    margin-bottom: 80px;
}

.product-info h4{
    font-weight: bold;
    padding: 0px 10px 0px 10px;
}

.size-box{
    margin-bottom: 20px;
    padding: 10px;

}

.size-box h4{
    font-weight: bold;
    margin-bottom: 3px;
}

.size-box button{
    font-weight: bold;
    background-color: #ffffff;
    border: 1px solid #000000;
    width: 100px;
    height: 30px;
    font-size: 15px;
    margin-top: 5px;
}

.get-item button:hover{
    border: 2px solid #000000;
    transition: all 0.5s;
}

.price-box p{
    font-size: 2rem;
}

.get-item{
    padding: 10px;
}

.get-item button{
    font-weight: bold;
    border: 1px solid #000000;
    background-color: #ffffff;
    width: 48%;
    height: 40px;
}

.get-item button:last-child{
    background-color: #000000;
    color: #ffffff;
}

.get-item button:last-child:hover{
    background-color: #ffffff;
    color: #000000;
    transition: all 0.5s;
}


.product-img-box img{
    width: 80%;
}

.product-info p{
    padding: 10px;
    font-weight: bold;
}

.price{
    font-size: 2rem;
    font-weight: bold;
}

.product-img-box{
    width: 100%;
    text-align: center;
}


 /* 모달 스타일 */
 .modal {
    display: none; /* 기본적으로 숨김 */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}
.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    width: 300px;
    font-size: 20px;
}
.modal-content button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}


@media (max-width:1220px){

    .product-info{
        padding: 10px 20px 0 20px;
    }

    .product-info h2{
        margin-bottom: 60px;
        font-size: 25px;
    }

    .product-ship{
        font-size: 13px;
    }

    .size-box button{
        width: 32%;
    }
}

@media (max-width:1024px){
    .product-containser{
        display: block;
    }

    .product-item{
        margin: 0 auto;
        width: 100%;
    }

    .product-info{
        margin: 0 auto;
        width: 70%;
        border: none;
    }

    .size-box button{
        width: 32%;
    }

    .price{
        font-size: 1.5rem;
    }

    .product-ship{
        font-size: 12px;
    }
}

@media (max-width:768px){
    .product-item img{
        width: 100%;
    }

    .product-info{
        width: 100%;
    }

    .size-box button{
        width: 31%;
    }

    .product-info{
        padding: 10px 0 0 0;
    }
}

@media (max-width:480px){
    .size-box button{
        width: 100%;
    }

    .get-item button{
        width: 100%;
        height: 40px;
        margin-top: 5px;
    }

    .product-info{
        padding: 10px 0 0 0;
    }

    .product-info h2{
        margin-bottom: 40px;
        font-size: 25px;
    }
}

@media (max-width:380px){
    .product-info h2{
        font-size: 20px;
    }
}