@charset "utf-8";

/* 여백 초기화 */
*{
    margin: 0;
    padding: 0;
}

/* 사파리 대응 */
button, input[type=button], input[type=submit], input[type=reset] {
    color: inherit;
    -webkit-appearance: none;
    background: none;
    border: none;
}


/* 폰트 초기화 */
body, input, textarea, select, button, table{
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 400;
    font-style: normal;
  }
  

/*버튼 커서*/
a, button {
    cursor: pointer;
}

/* 리스트 초기화*/
ol, li{
    list-style: none;
} 

