#wrap{ 
    width: 100%; 
}

header{}


.header{
    border: 1px solid #0b00ff;
    height: 60px;
    text-align: center;
    line-height: 60px;
}

.header a{
    float: left;
    text-decoration: none;
    color: #0b00ff;
    font-size: 20px;
    margin-left: 50px;
}

.header a:first-child{
    margin-left: 0px;
}

.header img{
    width: 200px;
    height: 60px;
    margin-bottom: -5px;
}

section{}
footer{}