
h2{
    font-weight: bold;
}

body{
    background-color: #ffffff;
}

#wrap{ 
    position: relative;
    width: 100%;
    margin: 0 auto;
}

header{
    width: 100%;
    height: 60px;
    position: sticky;
    top: 0;
    z-index: 2;
}

section{width: 100%;}
footer{width: 100%; border-top: 1px solid #000000; margin-bottom: -1px; transform: translateY(140%);}

#article1{
    width: 100%; height: 100%; background-color: #ffffff; margin: 100px 0 100px 0;
}

#article11{
    width: 100%; height: 100%; background-color: #ffffff; margin: 100px 0 100px 0;
}

#article2{
    position: relative; width: 100%; height: 100%; background-color: #ffffff; margin: 0 0 5% 0;
}

#article3{
    position: relative; width: 100%; height: 100%; background-color: #ffffff; margin: 0 0 5% 0;
}

#article4{
    position: relative; width: 100%; background-color: #ffffff;
}

#col-section{
    position: relative; width: 100%; background-color: #ffffff; margin-top: 80px;
}

#article2 button{
    border-radius: 5px;
    border: 2px solid #0048a6;
    width: 120px;
    height: 38px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 12px;
}

#article2 button:hover{
    background-color: #0048a6;
    color: #ffffff;
    border: 2px solid #0048a6;
    transition: all 0.5s;
}

#article3 button{
    border-radius: 5px;
    border: 2px solid #0048a6;
    width: 120px;
    height: 38px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 12px;
}

#article3 button:hover{
    background-color: #0048a6;
    color: #ffffff;
    border: 2px solid #0048a6;
    transition: all 0.5s;
}

/* 그리드 1*/
.gird-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows:repeat(2,1fr);
    grid-auto-rows: 400px;
    grid-gap:1rem;
    grid-template-areas: 
    'a a b c'
    'a a d e';
    padding: 40px;
}

.image1{
    grid-area: a;
}

.image2{
    grid-area: b;
}

.image3{
    grid-area: c;
}

.image4{
    grid-area: d;
}

.image5{
    grid-area: e;
}

.image6{
    grid-area: c;
}

.grid-h2{
    margin-left: 3%;
}


.gird-container .image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.item2{
    grid-column: 2 / -1;
    grid-row:1/3;
}

.gird-container .item{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    font-size: 1.2rem;
    font-weight: bold;
}

/* 그리드 2 */
.item-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr 0.1fr;
    grid-auto-rows: 400px;
    grid-gap:1rem;
    grid-template-areas: 
    'a b c'
    'd e f';
    padding: 40px;
}

.item-container .image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.shoes1{
    grid-area: a;
}

.bag2{
    grid-area: b;
}

.accessaries3{
    grid-area: c;
}

.button1{
    grid-area: d;
}

.button2{
    grid-area: e;
}

.button3{
    grid-area: f;
}



/* swiper */
.swiper {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
}

.best-item{
    line-height: 100px;
    padding: 0 20px 0 20px; 
}

.best-item h2{
    margin-left: 1.5%;
}

#article4 h2{
    margin-left: 3%;
}

#col-section h2{
    margin-left: 3%;
}

.best-item img{
    margin: 0 15px 0 15px;
    height: 100%;
    cursor: pointer;
}

/* footer */
.footer-container{ display: flex;     padding: 0 5% 0 5%; align-items: center; justify-content: center;}
.footer-content{ width: 40%;}
.footer-content ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.footer-content a{
    color: #000000;
    font-weight: bold;
    text-decoration-line: none;
}

.footer-icon{ width: 20%;}
.footer-icon ul{
    text-align: center;
    margin-left: 20px;
    flex-wrap: wrap;
    width: 100%;
    list-style: none;
    align-items: center;
    display: flex;
    justify-content: end;

}

.footer-icon li{
    width: 30%;
    margin-top: 30px;
}

.footer-icon li i{
    margin-right: 15px;
    font-size: 40px;
}

.footer-logo{
    width: 20%;
}

.footer-logo ul{
    list-style: none;
    padding-top: 20px;
}

.footer-logo li{
    margin-top: 5px;
    font-weight: bold;
}

.footer-logo img{
    width: 45%;
    padding-left: 30px;
    padding-top: 30px;
}

.footer-box{
    width: 100%;
    height: 20px;
    background: #000000;
    margin-top: 70px;
}

.footer-box p{
    text-align: center;
    font-size: 10px;
    line-height: 20px;
    font-weight: bold;
    color: #ffffff;
}

.footer-icon a i{
    color: #000000;
}

.footer-icon a i:hover{
    color: #0b00ff;
    transition: all 0.3s;
}


/* 레이어팝업 */
    button {
        border: 0;
        background: none;
        cursor:pointer;
    }
  
  .main-popup {
    z-index: 5; 
    position: fixed; 
    left: 20%; 
    top: 100px; 
    width: 550px; 
    border: 3px solid #0048a6; 
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
    display: none;
  
    &.on {
      display: block;
      background-color: #fff;
    }
  
    .img-wrap {
      display:flex;
      justify-content:center;
      align-items:center;
    }

    .img-wrap img{
        width: 100%;
    }
  
    .btn-close {
      width: 32px;
      height: 32px;
      position: absolute;
      top: 17px;
      right: 17px;
      font-size: 0;
      border: 0;
      background: none;
  
      &::before {
        content: "";
        width: 2px;
        height: 32px;
        background-color: #333;
        position: absolute;
        top: 0;
        left: 15px;
        transform: rotate(45deg);
      }
      &::after {
        content: "";
        width: 32px;
        height: 2px;
        background-color: #333;
        position: absolute;
        top: 15px;
        left: 0;
        transform: rotate(45deg);
      }
    }
  
    .btn-today-close {
      width: 100%;
      height: 45px;
      background-color: #333;
      text-align: center;
      color: #fff;
      font-size: 14px;
      display: block;
      span {
        display: block;
        line-height: 40px;
        vertical-align: bottom;
        opacity: 0.8;
      }
    }
  }

  @keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

  @keyframes slide2 {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .lookbook {
    overflow: hidden;
    white-space: nowrap;
  }
  
  .lookbook-slide {
    margin-top: 50px;
    display: inline-block;
    animation: 50s slide infinite linear;
  }
  
  .lookbook-slide img {
    height: 500px;
    margin: 0 40px;
  }

  .lookbook2 {
    overflow: hidden;
    white-space: nowrap;
  }
  
  .lookbook-slide2 {
    margin-top: 50px;
    display: inline-block;
    animation: 40s slide2 infinite linear;
  }
  
  .lookbook-slide2 img {
    height: 650px;
    margin: 0 40px;
  }



.col-section span{
    color: #0048a6;
}

.col-section h2{
    font-size: 2.3vw;
}

.collection-box img{
    width: 100%;
}

.collection-box ul{
    width: 100%;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.collection-box li{
    padding: 10px;
    width: 23%;
    margin: 0 auto;
}

.collection-item h2{
    font-size: 2.3vw;
}

#article5{
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    margin: 100px 0 0 0;
}

.collection-item{
    line-height: 100px;
    padding: 0 20px 0 20px; 
}

.collection-item h2{
    margin-left: 1.5%;
}

.collection-item span{
    color: #0048a6;
}


@media (max-width:1024px){


    .footer-content li{
        margin: 0 5px 0 5px;
        width: 20%;
    }

    .footer-content ul{
        flex-wrap: wrap;
    }

    .logos-slide img{
        height: 350px;
    }

    .footer-logo li{
        font-size: 13px;
    }

    .footer-content a{
        font-size: 14px;
    }

    .footer-icon li i{
        font-size: 25px;
    }

    .footer-box p{
        font-size: 7px;
    }

    .best-item img{
        width: 90%;
    }

    .lookbook-slide2 img{
        height: 550px;
        margin: 0 10px;
    }

    .collection-box li{
        width: 30%;
    }

    
}


@media (max-width:768px){

    #col-section{
        margin-top: 30px;
    }

    #article5{
        margin: 50px 0 0 0;
    }

    #col-section h2{
        font-size: 15px;
    }

    .collection-item h2{
        font-size: 15px;
        margin-left: 0;
    }

    .collection-box li{
        width: 45%;
    }

    .footer-logo ul{
        padding-top: 5px;
    }

    .footer-content{
        margin: 0 15px 0 15px;
        text-align: center;
    }

    .footer-content ul{
        text-align: center;
    }

    .footer-content li{
        font-size: 12px;
        margin-top: 5px;
    }

    .footer-logo img{
        width: 50%;
        padding-left: 30px;
    }

    .footer-logo li{
        font-size: 10px;
    }

    .footer-icon li i{
        font-size: 20px;
    }

    .footer-icon li{
        margin-top:10px;
    }

    #article1{
        height: 400px;
        margin: 10px 0 10px 0;
    }

    #article11{
        height: 400px;
        margin: 10px 0 10px 0;
    }

    #article2{
        height: 450px;
        margin: 10px 0 50px 0;
    }

    #article3{
        height: 400px;
        margin: 10px 0 10px 0;
    }

    .main-popup{
        width: 250px;
    }

    .logos-slide img{
        margin: 0 10px;
    }

    .footer-logo img{
        width: 65%;
        padding-left: 0px;
    }

    .lookbook-slide2 img{
        height: 350px;
    }
}

@media (max-width:480px){

    #col-section h2{
        font-size: 15px;
    }

    .collection-item h2{
        font-size: 15px;
        margin-left: 0;
    }

    .collection-box li{
        width: 85%;
    }

    #article5{
        margin: 0;
    }

    .lookbook-slide2 img{
        height: 250px;
    }

    #col-section{
        margin-top: 30px;
    }

    #article1{
        height: 400px;
    }

    #article11{
        height: 400px;
    }

    .footer-logo img{
        padding-left: 0px;
    }

    .best-item img{
        height: 200px;
        width: 90%;
    }

    #article2{
        height: 900px;
    }

    #article3{
        height: 1450px;
    }

    .logos-slide img{
        height: 200px;
        margin: 0 10px;
    }

    .gird-container{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:
        'a a'
        'a a'
        'b c'
        'd e';
    }

    #article2 button{
        width: 85%;
    }

    .item-container{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 1fr 0.1fr 1fr 0.1fr 1fr 0.1fr;
        grid-template-areas:
        'a'
        'd'
        'b'
        'e'
        'c'
        'f';
    }

    #article3 button{
        width: 95%;
    }

    .grid-h2{
        margin-top: 100px;
        
    }

    .footer-logo li{
        font-size: 8px;
    }

    .footer-content a{
        font-size: 10px;
    }

    .footer-box{
        margin-top: 30px;
    }
}



@media (max-width:380px){

    .collection-box li{
        width: 85%;
    }

    #col-section h2{
        font-size: 15px;
    }

    .collection-item h2{
        font-size: 15px;
    }

    #article3{
        height: 1150px;
    }

    #article2{
        height: 700px;
    }

    .footer-logo li{
        font-size: 5px;
    }

    .footer-content a{
        font-size: 9px;
    }

    .footer-icon li{
        margin-right: 1px;
    }

    .footer-icon li i{
        font-size: 15px;
    }

    .footer-icon ul{
        margin-left: 10px;
    }

    .logos-slide img{
        height: 170px;
    }

    .logos-slide{
        margin-top: 30px;
    }

    .footer-logo ul{
        padding-top: 2px;
    }
    .footer-box{
        margin-top: 20px;
    }
}

